body{
    border: 150;
    margin: 50;
    padding: 10;
    background-color: #647795;
    align-content: center;
    
}
.capa{
    border-radius: 40%;
    width: 500px;
    margin: 150px;
    border: 50px;
    padding: 10px
    
}
.rota{
    width: 220px;
}

.manutencao{
    width: 220px;
}