body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: antiquewhite;   
}

input, button{
    display: block;
    margin: 10px 0;
    padding: 8px;
}

.error {
    color: rgb(182, 7, 7);
    font-size: 0.9em;
}