body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #7D91B2;
  color: white;
  margin: 0;
  padding: 0;
}

hr {
  width: 400px;
}
 #cabecalho{
   color: rgb(0, 0, 0);
   background: white;
   font-size: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   position: absolute;
   top: -25px;
  left: 10px;	
  border-radius: 10px;								
 }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.teste {
    display: flex
    padding: 1.25rem 1.5rem 1.5rem 1.5rem;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#recacess {
  width: 180px;
}

button:hover {
  background-color: #ddd;
}

#ft {
  width: 250px;
}

.containerd {
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.menu-item {
  background-color: #ffffff20;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.menu-item:hover {
  transform: scale(1.03);
}

.menu-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.menu-item p {
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.botoes-rotas {
  margin-bottom: 30px;
}

.botao-rota {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.botao-rota:hover {
  background-color: #0056b3;
}

.lista-container {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #ffffff20;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
}

#historicrotas {
  width: 400px;
}

.rota {
  margin: 10px;
  width: 200px;
  background-color: black;
  color: white;
  justify-self: center;
  border-radius: 50px;
}
.error {
  color: rgb(182, 7, 7);
  font-size: 0.9em;
}